---
layout: default
---

{% include slider.html content="<h2>Accepted papers</h2>"%}

<!-- Content -->
<div class="block">
  <div class="container">
    <div class="row">

      <div class="col-md-9">
        <section id="main-content">
          <div class="section-content">
            <header><h2>Accepted papers</h2></header>
              <h3><p>We have 46 papers accepted tentatively for SoCC 2021. Paper title, content, and even the acceptance decision may change during the shepherding process. The detailed program is coming up soon.</p></h3> <br><br>

              <h4 class="talk-title">George: Learning to Place Long-Lived Containers in Large Clusters with Operation Constraints</h4>
                <p class="course-meta" style="line-height:18px;">Suyi Li (Hong Kong University of Science and Technology), Luping Wang (Hong Kong University of Science and Technology, Alibaba Group), Wei Wang (Hong Kong University of Science and Technology), Yinghao Yu (Alibaba Group), Bo Li (Hong Kong University of Science and Technology)</p>

              <h4 class="talk-title">Llama: A Heterogeneous & Serverless Framework for Auto-Tuning Video Analytics Pipelines</h4>
                <p class="course-meta" style="line-height:18px;">Francisco Romero, Mark	Zhao, Neeraja J. Yadwadkar, Christos Kozyrakis (Stanford University)</p>

              <h4 class="talk-title">Lorien: Efficient Deep Learning Workloads Delivery</h4>
                <p class="course-meta" style="line-height:18px;">Cody Hao Yu, Xingjian Shi, Haichen Shen, Zhi Chen, Mu Li, Yida	Wang (Amazon Web Services, Inc)</p>

              <h4 class="talk-title">Faa$T: A Transparent Auto-Scaling Cache for Serverless Applications</h4>
                <p class="course-meta" style="line-height:18px;">Francisco Romero (Stanford University), Gohar Irfan Chaudhry, Inigo Goiri (Microsoft Research), Pragna Gopa, Paul Batum (Microsoft Azure), Neeraja J. Yadwadkar, Christos Kozyrakis (Stanford University), Ricardo Bianchini, Rodrigo Fonseca (Microsoft Research)</p>

              <h4 class="talk-title">Scaling Blockchains Using Pipelined Execution and Sparse Peers</h4>
                <p class="course-meta" style="line-height:18px;">Parth Thakkar, Senthilnathan Natarajan (IBM Research, India)</p>

              <h4 class="talk-title">Secure Namespaced Kernel Audit for Containers</h4>
                <p class="course-meta" style="line-height:18px;">Soo Yee Lim (University of British Columbia), Bogdan Stelea (University of Bristol), Xueyuan Han (Harvard University), Thomas Pasquier (University of British Columbia)</p>

              <h4 class="talk-title">Cloud-Scale Runtime Verification of Serverless Applications</h4>
                <p class="course-meta" style="line-height:18px;">Kalev Alpernas (Tel Aviv University), Aurojit Panda (NYU), Leonid Ryzhyk (VMware Research), Mooly	Sagiv (Tel Aviv University)</p>

              <h4 class="talk-title">CHRONUS: A Novel Deadline-aware Scheduler for Deep Learning Training Jobs</h4>
                <p class="course-meta" style="line-height:18px;">Wei Gao (School of Computer Science and Engineering, Nanyang Technological University; S-Lab, Nanyang Technological University), Zhisheng Ye (Peking University), Peng Sun (SenseTime), Yonggang Wen, Tianwei Zhang (School of Computer Science and Engineering, Nanyang Technological University)</p>

              <h4 class="talk-title">ServerMore: Opportunistic Execution of Serverless Functions in the Cloud</h4>
                <p class="course-meta" style="line-height:18px;">Amoghavarsha Suresh, Anshul Gandhi (Stony Brook University)</p>

              <h4 class="talk-title">Version Reconciliation for Collaborative Databases</h4>
                <p class="course-meta" style="line-height:18px;">Nalin Ranjan (Princeton University), Zechao Shang (Snowflake Inc.), Sanjay Krishnan, Aaron E. Elmore (University of Chicago)</p>

              <h4 class="talk-title">Atoll: A Scalable Low-Latency Serverless Platform</h4>
                <p class="course-meta" style="line-height:18px;">Arjun Singhvi (University of Wisconsin - Madison), Arjun Balasubramanian, Kevin Houck (Amazon Web Services), Mohammed Danish Shaikh (Google), Shivaram Venkataraman (University of Wisconsin - Madison), Aditya	Akella (UT Austin and Google)</p>

              <h4 class="talk-title">Speedo: Fast dispatch and orchestration of serverless workflows</h4>
                <p class="course-meta" style="line-height:18px;">Nilanjan Daw, Umesh Bellur, Purushottam Kulkarni (Indian Institute of Technology Bombay)</p>

              <h4 class="talk-title">Building Reliable Cloud Services Using Coyote Actors</h4>
                <p class="course-meta" style="line-height:18px;">Pantazis Deligiannis (Microsoft Research),Narayanan Ganapathy (Facebook), Akash Lal (Microsoft Research), Shaz Qadeer (Novi)</p>

              <h4 class="talk-title">Iter8: Online Experimentation in the Cloud</h4>
                <p class="course-meta" style="line-height:18px;">Mert Toslali (Boston University), Srinivasan Parthasarathy, Fabio Oliveira, Hai Huang (IBM Research), Ayse K. Coskun (Boston University)</p>

              <h4 class="talk-title">Parslo: A Gradient Descent-based Approach for Near-optimal Partial SLO Allotment in Microservices</h4>
                <p class="course-meta" style="line-height:18px;">Amirhossein Mirhosseini (University of Michigan),Sameh Elnikety (Microsoft Research), Thomas Wenisch (University of Michigan)</p>

              <h4 class="talk-title">3MileBeach: A Tracer with Teeth</h4>
                <p class="course-meta" style="line-height:18px;">Jun Zhang, Robert Ferydouni, Aldrin Montana, Daniel Bittman, Peter Alvaro (UC Santa Cruz)</p>

              <h4 class="talk-title">Morphling: Fast, Near-Optimal Auto-Configuration for Cloud-Native Model Serving</h4>
                <p class="course-meta" style="line-height:18px;">Luping	Wang (Hong Kong University of Science and Technology, Alibaba Group), Lingyun Yang (Hong Kong University of Science and Technology), Yinghao Yu (Alibaba Group), Wei Wang, Bo Li (Hong Kong University of Science and Technology), Xianchao Sun, Jian He, Liping Zhang (Alibaba Group)</p>

              <h4 class="talk-title">Lasagna: Accelerating Secure Deep Learning Inference in SGX-enabled Edge Cloud</h4>
                <p class="course-meta" style="line-height:18px;">Yuepeng Li (China University of Geosciences, Wuhan, China), Deze Zeng  (China University of Geosciences, Wuhan, China), Lin Gu (Huazhong University of Science and Technology), Quan Chen (Shanghai Jiao Tong University), Song Guo (Hong Kong Polytechnic University), Albert Zomaya (The University of Sydney), Minyi Guo (Shanghai Jiao Tong University)</p>

              <h4 class="talk-title">Elastic Hyperparameter Tuning on the Cloud</h4>
                <p class="course-meta" style="line-height:18px;">Lisa Dunlap, Kirthevasan Kandasamy, Ujval Misra, Richard Liaw, Joesph Gonzalez, Ion Stoica, Michael Jordan (UC Berkeley)</p>

              <h4 class="talk-title">Siren: Byzantine-robust Federated Learning via Proactive Alarming</h4>
                <p class="course-meta" style="line-height:18px;">Hanxi Guo (Shanghai Jiao Tong University), Hao Wang (Louisiana State University), Tao Song (Shanghai Jiao Tong University), Yang Hua (Queen's University Belfast, UK), Zhangcheng	Lv, Xiulang Jin (Huawei Technologies Co., Ltd.), Zhengui Xue, Ruhui Ma, Haibing Guan (Shanghai Jiao Tong University)</p>

              <h4 class="talk-title">Fast and Accurate Optimizer for Query Processing over Knowledge Graphs</h4>
                <p class="course-meta" style="line-height:18px;">Jingqi	Wu, Rong Chen, Yubin Xia (Shanghai Jiao Tong University)</p>

              <h4 class="talk-title">Kraken : Adaptive Container Provisioning for Deploying Dynamic DAG applications in Serverless platforms</h4>
                <p class="course-meta" style="line-height:18px;">Vivek M. Bhasi, Jashwant Raj Gunasekaran, Prashanth Thinakaran, Cyan Subhra Mishra, Mahmut Taylan Kandemir, Chita Das  (The Pennsylvania State University)</p>

              <h4 class="talk-title">Scrooge: A Cost-Effective Deep Learning Inference System</h4>
                <p class="course-meta" style="line-height:18px;">Yitao Hu, Rajrup Ghosh, Ramesh Govindan (University of Southern California)</p>

              <h4 class="talk-title">tprof: Performance profiling via structural aggregation and automated analysis of distributed systems traces</h4>
                <p class="course-meta" style="line-height:18px;">Lexiang Huang, Timothy Zhu (The Pennsylvania State University)</p>

              <h4 class="talk-title">Towards Reliable AI for Source Code Understanding</h4>
                <p class="course-meta" style="line-height:18px;">Sahil Suneja, Yunhui Zheng, Yufan Zhuang, Jim A. Laredo, Alessandro Morari (IBM Research)</p>

              <h4 class="talk-title">Clamor: Extending Functional Cluster Computing Frameworks with Fine-Grained Remote Memory Access</h4>
                <p class="course-meta" style="line-height:18px;">Pratiksha Thaker, Hudson Ayers, Deepti Raghavan, Ning Niu, Philip Levis, Matei Zaharia (Stanford University)</p>

              <h4 class="talk-title">Mind the Gap: Broken Promises of CPU Reservations in Containerized Multi-tenant Clouds</h4>
                <p class="course-meta" style="line-height:18px;">Li Liu (George Mason University), Haoliang Wang (Adobe Research), An Wang (Case Western Reserve University), Mengbai Xiao (Shandong University), Yue Cheng, Songqing Chen (George Mason University)</p>

              <h4 class="talk-title">Citadel: Protecting Data Privacy and Model Confidentiality for Collaborative Learning</h4>
                <p class="course-meta" style="line-height:18px;">Chengliang Zhang (Hong Kong University of Science and Technology), Junzhe Xia (Hong Kong University of Science and Technology), Baichen Yang (Hong Kong University of Science and Technology), Huancheng Puyang (Hong Kong University of Science and Technology), Wei Wang (Hong Kong University of Science and Technology), Ruichuan Chen (Nokia Bell Labs), Istemi Ekin Akkus (Nokia Bell Labs), Paarijaat Aditya (Nokia Bell Labs), Feng Yan (University of Nevada, Reno)</p>

              <h4 class="talk-title">SHOWAR: Right-Sizing And Efficient Scheduling of Microservices</h4>
                <p class="course-meta" style="line-height:18px;">Ata Fatahi, George Kesidis (Penn State University)</p>

              <h4 class="talk-title">Automating instrumentation choices for performance problems in distributed applications with VAIF</h4>
                <p class="course-meta" style="line-height:18px;">Mert Toslali, Emre Ates (Boston University), Alex Ellis, Zhaoqi Zhang, Darby Huye, Lan Liu (Tufts University), Samantha Puterman, Ayse K. Coskun (Boston University), Raja R. Sambasivan (Tufts University)</p>

              <h4 class="talk-title">Sayer: Using Implicit Feedback to Optimize System Policies</h4>
                <p class="course-meta" style="line-height:18px;">Mathias Lecuyer (University of British Columbia), Sang Hoon Kim (Columbia University), Mihir Nanavati (Twitter), Junchen Jiang (University of Chicago), Siddhartha Sen (Microsoft Research), Aleksandrs Slivkins (Microsoft Research), Amit Sharma (Microsoft Research)</p>

              <h4 class="talk-title">On Merits and Viability of Multi-Cloud Serverless</h4>
                <p class="course-meta" style="line-height:18px;">Ata Fatahi, George Kesidis (Penn State University), Carlee Joe-Wong (CMU), Mohammad Shahrad (University of British Columbia)</p>

              <h4 class="talk-title">Characterizing Microservice Dependency and Performance: Alibaba Trace Analysis</h4>
                <p class="course-meta" style="line-height:18px;">Shutian Luo (Shenzhen Institute of Advanced Technology, CAS; Univ. of Chinese Academy of Sciences; University of Macau), Huanle	Xu (University of Macau), Chengzhi Lu (Shenzhen Institute of Advanced Technology, CAS; Univ. of Chinese Academy of Sciences), Kejiang Ye (Shenzhen Institute of Advanced Technology, CAS), Guoyao Xu, Liping Zhang, Yu Ding, Jian He (Alibaba Group), Chengzhong Xu (University of Macau)</p>

              <h4 class="talk-title">Portkey: Adaptive Key-Value Placement over Dynamic Edge Networks</h4>
                <p class="course-meta" style="line-height:18px;">Joseph	Noor, Mani Srivastava (UCLA), Ravi Netravali (Princeton University)</p>

              <h4 class="talk-title">Service-Level Fault Injection Testing</h4>
                <p class="course-meta" style="line-height:18px;">Christopher Meiklejohn, Andrea Estrada, Yiwen Song, Heather Miller, Rohan Padhye, Christopher Meiklejohn (Carnegie Mellon University)</p>

              <h4 class="talk-title">Provisioning Differentiated Last-Level Cache Allocations to VMs in Public Clouds</h4>
                <p class="course-meta" style="line-height:18px;">Mohammad Shahrad (University of British Columbia), Sameh Elnikety, Ricardo Bianchini (Microsoft Research)</p>

              <h4 class="talk-title">Good Things Come to Those Who Wait: Optimizing Job Waiting in the Cloud</h4>
                <p class="course-meta" style="line-height:18px;">Pradeep Ambati, Noman Bashir, David Irwin, Prashant Shenoy (University of Massachusetts Amherst)</p>

              <h4 class="talk-title">OneEdge: An Efficient Control Plane for Geo-Distributed Infrastructures</h4>
                <p class="course-meta" style="line-height:18px;">Enrique Saurez, Harshit Gupta, Alexandros Daglis, Umakishore Ramachandran (Georgia Institute of Technology)</p>

              <h4 class="talk-title">Enabling Sustainable Clouds: The Case for Virtualizing the Energy System</h4>
                <p class="course-meta" style="line-height:18px;">Noman Bashir (University of Massachusetts Amherst), Tian Guo (Worcester Polytechnic Institute), Mohammad Hajiesmaili, David Irwin, Prashant Shenoy, Ramesh Sitaraman, Abel Souza (University of Massachusetts, Amherst), Adam Wierman (Caltech)</p>

              <h4 class="talk-title">Trisk: Task-Centric Data Stream Reconfiguration</h4>
                <p class="course-meta" style="line-height:18px;">Yancan Mao, Yuan Huang, Runxin Tian, Xin Wang, Richard T. B. Ma (School of Computing, National University of Singapore)</p>

              <h4 class="talk-title">Falkirk Wheel: Rollback Recovery for Dataflow Systems</h4>
                <p class="course-meta" style="line-height:18px;">Ionel Gog (UC Berkeley),Michael Isard, Martí_n Abadi (Google Research)</p>

              <h4 class="talk-title">Parallax: Hybrid Key-Value Placement in LSM-based Key-Value Stores</h4>
                <p class="course-meta" style="line-height:18px;">Giorgos Xanthakis (Univ. of Crete and FORTH, Greece), Giorgos Saloustros (ICS-FORTH, Greece), Nikos Batsaras, Anastasios Papagiannis, Angelos Bilas (Univ. of Crete and FORTH, Greece)</p>

              <h4 class="talk-title">Tell me when you are sleepy and what may wake you up!</h4>
                <p class="course-meta" style="line-height:18px;">Djob Mvondo (ICSA, University of Edinburgh), Antonio Barbalace (ICSA, University of Edinburgh), Alain Tchana (ENS Lyon, France), Gilles Muller (INRIA)</p>

              <h4 class="talk-title">Mu: An Efficient, Fair and Responsive Serverless Framework for Resource-Constrained Edge Clouds</h4>
                <p class="course-meta" style="line-height:18px;">Viyom Mittal, Shixiong Qi (University of California, Riverside), Ratnadeep Bhattacharya, Xiaosu Lyu (George Washington University), Junfeng Li (Tsinghua University), Sameer G Kulkarni (Indian Institute of Technology, Gandhinagar), Dan Li (Tsinghua University), Jinho Hwang (Facebook Inc.), K. K. Ramakrishnan (University of California, Riverside), Timothy Wood (George Washington University)</p>

              <h4 class="talk-title">Latency-Aware Dynamic Server and Cooling Capacity Provisioner for Data Centers</h4>
                <p class="course-meta" style="line-height:18px;">Anuroop Desu, Udaya Puvvadi, Tyler Stachecki, Sagar Vishwakarma, Sadegh Khalili, Kanad Ghose, Bahgat G Sammakia (State University of New York, Binghamton)</p>

              <h4 class="talk-title">OptDebug: Fault-Inducing Operation Isolation for Dataflow Applications</h4>
                <p class="course-meta" style="line-height:18px;">Muhammad Ali Gulzar (Virginia Tech), Miryung Kim (UCLA)</p>

          </div><!-- /.section-content -->
        </section><!-- /.main-content -->
      </div><!-- /.col-md-6 -->

      <div class="col-md-3">
        {% include latest-news.html %}
      </div><!-- /.col-md-3 -->

    </div><!-- /.row -->
  </div><!-- /.container -->
</div>
<!-- end Content -->
