---
layout: default
---

{% include slider.html content="<h2>Standby page for the live event</h2>" %}

<!-- Content -->
<div class="block">
  <div class="container">
    <div class="row">

      <div class="col-md-6">
        <section id="main-content">
          <div class="section-content">
            <header><h2>Attend SoCC 2021 live</h2></header>
            <p>
              Welcome! The live event will be available here when the conference starts!
            </p>
            <p>
              Day-1 live stream <a href="http://aka.ms/socc2021/day1" style="text-decoration:underline;">here</a>
            </p>

          </div><!-- /.section-content -->
        </section><!-- /.main-content -->
      </div><!-- /.col-md-6 -->

      <div class="col-md-3">
         {% include latest-news.html %}
      </div><!-- /.col-md-3 -->

    </div><!-- /.row -->
  </div><!-- /.container -->
</div>
<!-- end Content -->
