---
layout: default
---

{% include slider.html content="<h2>2021 Awards</h2>" %}

<!-- Content -->
<div class="block">
  <div class="container">
    <div class="row">

      <div class="col-md-6">
        <section id="main-content">
          <div class="section-content"><br>
            <header><h2>2021 Best Paper Winner</h2></header>
            <p>
             <b>Characterizing Microservice Dependency and Performance: Alibaba Trace Analysis</b><br>
Shutian Luo (Shenzhen Institute of Advanced Technology, CAS; Univ. of Chinese Academy of Sciences; University of Macau), Huanle Xu (University of Macau), Chengzhi Lu (Shenzhen Institute of Advanced Technology, CAS; Univ. of Chinese Academy of Sciences), Kejiang Ye (Shenzhen Institute of Advanced Technology, CAS), Guoyao Xu (Alibaba Group), Liping Zhang (Alibaba Group), Yu Ding (Alibaba Group), Jian He (Alibaba Group), Chengzhong Xu (University of Macau) 
            </p><br><br>
            <header><h2>2021 Test of Time Award</h2></header>
            <p>
            	<b>Heterogeneity and Dynamicity of Clouds at Scale: Google Trace Analysis</b> (SoCC 2012)<br>
		Charles Reiss (UC Berkeley), Alexey Tumanov (CMU), Gregory Ganger (CMU), Randy Katz (UC Berkeley), Michael Kozuch (Intel Labs)<br><br>
		<b>Award Citation:</b> This highly cited paper was the first to analyze a large scale dataset that captured the dynamics of jobs executing in a multi-purpose compute cluster. The paper shone a light on the highly variable nature of such workloads, with heavy tails observed across their job completion times, widely varying inter-task utilizations, and a broad range of configuration complexities. The paper became a 'must read' for anyone looking into cluster scheduling at scale, and has had a huge influence on both research and practice over the past decade.
	    </p>

          </div><!-- /.section-content -->
        </section><!-- /.main-content -->
      </div><!-- /.col-md-6 -->

      <div class="col-md-3">
         {% include latest-news.html %}
      </div><!-- /.col-md-3 -->

    </div><!-- /.row -->
  </div><!-- /.container -->
</div>
<!-- end Content -->
