---
layout: default
---

{% include slider.html content="<h2>Code of conduct</h2>"%}

<!-- Content -->
<div class="block">
  <div class="container">
    <div class="row">

      <div class="col-md-9">
        <section id="main-content">
          <div class="section-content">
            <header><h2>Code of conduct</h2></header>
<p>The ACM Symposium on Cloud Computing 2021 (SoCC '21) acknowledges and values all dimensions of diversity by cultivating an environment built on tolerance and mutual respect. We actively promote inclusion in every aspect of the symposium including but not limited to organization and program committees and conference activities. We encourage the participation of all individuals regardless of age, gender, gender identity, race, cultural background, religion, physical and mental ability, sexual orientation, parental and marital status, etc. We actively denounce and combat prejudice and stereotyping, and will follow the <a href="https://www.acm.org/about-acm/policy-against-harassment">ACM Policy Against Harassment</a>, embracing ACM processes for <a href="https://www.acm.org/about-acm/reporting-unacceptable-behavior">Reporting Unacceptable Behavior</a>.</p>

<p>As we embark on this journey of continued (un)learning we will misstep. Your ideas and feedback can help us find our way towards a healthier and more welcoming community. You may contact SoCC D&amp;I Chair, Neeraja J. Yadwadkar (<b style="color:black">neeraja@cs.stanford.edu</b>), with suggestions, comments, or complaints about our work in this area.</p>

          </div><!-- /.section-content -->
        </section><!-- /.main-content -->
      </div><!-- /.col-md-6 -->

      <div class="col-md-3">
        {% include latest-news.html %}
      </div><!-- /.col-md-3 -->

    </div><!-- /.row -->
  </div><!-- /.container -->
</div>
<!-- end Content -->
