---
layout: default
---

{% include slider.html content="<h2>COVID-19 Conference Protocol</h2>"%}

<!-- Content -->
<div class="block">
  <div class="container">
    <div class="row">

      <div class="col-md-9">
        <section id="main-content">
          <div class="section-content">
            <header><h2>COVID-19 Conference Protocol</h2></header>
	    <p>To maximize the safety of all attendees, we have put in place the following protocol for the in-person event:</p> 

            <ol class="topics-list">
	      <li>All attendees need to be fully vaccinated (no exceptions).</li>
	      <li>Masks in indoor spaces at all times exceptions during meals and or for presenters actively giving a talk.</li>
              <li>Daily antigen tests (provided by the conference, and administered by our EMTs).</li>
              <li>Anyone testing positive will be removed and asked to quarantine, and if someone <b>becomes</b> positive (after having attended part of the conference) we will shutdown all in-person operations and switch to pure online.</li>
            </ol>

            <p>If you have any questions or concerns, please reach out to our general chair, <b style="color:black">Carlo Curino</b>.</p>


          </div><!-- /.section-content -->
        </section><!-- /.main-content -->
      </div><!-- /.col-md-6 -->

      <div class="col-md-3">
        {% include latest-news.html %}
      </div><!-- /.col-md-3 -->

    </div><!-- /.row -->
  </div><!-- /.container -->
</div>
<!-- end Content -->
