---
layout: default
---

{% include slider.html content="<h2>Student Scholarships</h2>" %}

<!-- Content -->
<div class="block">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <section class="events small" id="events-small">
          <header>
            <h2>Dates</h2>
          </header>
          <div class="section-content">
            <article class="event nearest">
              <figure class="date">
                <div class="month">oct</div>
                <div class="day">11</div>
              </figure>
              <aside>
                <header>
                  Submission deadline
                </header>
              </aside>
            </article>
            <br>
            <article class="event nearest-second">
              <figure class="date">
                <div class="month">oct</div>
                <div class="day">15</div>
              </figure>
              <aside>
                <header>
                  Notification of acceptance
                </header>
              </aside>
            </article>
			<br>
          </div>
        </section>
      </div><!-- /.col-md-3 -->

      <div class="col-md-6">
        <section id="main-content">
          <header>
            <h1>Student scholarships</h1>
          </header>
          <div class="section-content">

          <p>The ACM Symposium on Cloud Computing 2021 (SoCC'21) aims at bringing together researchers, developers, users, and practitioners interested in cloud computing. SoCC offers multiple opportunities for students to share their knowledge, experience, and research work with internationally recognized researchers from both academia and industry. To increase attendance of students regardless of their institution's financial abilities, the SoCC planning committee, with the support of ACM, is pleased to offer travel scholarships to help students defray the costs of attending the conference. Keeping in mind the D&I efforts at the conference, priority will be given to students with an accepted paper at SoCC, as well as students from groups historically underrepresented at the conference.</p>
 
	  <p>Each student scholarship offers partial support to conver travel and lodging expenses for the conference. To cover the rest of the costs of attending SoCC, applicants must show the availability of additional support from their institutions (e.g., support from advisors). This must be stated in the form to be submitted by the student's advisor (more below). Funding is available to students from any educational institution in the world.</p>

	  <p style="color:red;">Submission deadline: Monday, October 11th, 2021<br>
			  Acceptance nofitication: Friday, October 15th, 2020<br><br></p>

            <a id="howtoapply"><h2>How to apply</h2></a>
	    <h3>Students</h3>
            <p>Please fill out this <a href="https://forms.office.com/r/JvT4nUf7FE">form</a> that asks the following details: </p>
		  
            <p>
              <ul class="topics-list">
		<li>Full Name (First name, Last Name)</li>
		<li>Name of the School the student is enrolled at</li>
		<li>Degree program being pursued (PhD, Masters etc.)</li>
		<li>Year of study (First year, Second year, Final year, etc.)</li>
		<li>Primary area of focus (Cloud computing, Networking, etc.)</li>
		<li>Name of the advisor (First name, Last Name)</li>
		<li>Please describe how your work relates to ACM SoCC and how you would benefit from attending the conference this year (3-4 paragraphs only)</li>
		<li>Estimated cost requested as the scholarship</li>
              </ul>
            </p>
          
	    <h3>Advisors</h3>
            <p>Please fill this <a href="https://forms.office.com/r/UAhJSeB24Q">form</a> that asks the following details: </p>
            <p>
              <ul class="topics-list">
		<li>Full Name (First name, Last Name)</li>
		<li>Name of the student recommended for the scholarship  (First name, Last name)</li>
		<li>Please provide brief write-up confirming the student's academic standing, explaining how the student would benefit from conference attendance, and outlining other resources that will be provided to the student for attending SoCC (given the scholarship will be supporting the travel/lodging partially)</li>
              </ul>
            </p>
	    <br><br>
            <p>If you have any questions, please email <b style="color:black">neeraja@cs.stanford.edu</b>.</p>
          </div><!-- /.section-content -->
        </section><!-- /.main-content -->
      </div><!-- /.col-md-6 -->

      
      <div class="col-md-3">
	{% include latest-news.html %}
      </div><!-- /.col-md-3 -->

    </div><!-- /.row -->
  </div><!-- /.container -->
</div>
<!-- end Content -->
