---
layout: default
---


{% include slider.html content="<h2>Accommodation</h2>"%}

<div class="block">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
      {%include important_dates.html%}
      </div><!-- /.col-md-3 -->

      <div class="col-md-6">
        <section id="main-content">
          <header>
            <h1>Venue</h1>
          </header>

      
<!-- Content -->
<div class="section-content">
  <p> The in-person part of ACM SoCC 2021 will take place at the
    <a href="https://www.marriott.com/event-reservations/reservation-link.mi?id=1630000507226&key=GRP&app=resvlink"
      style="text-decoration:underline;">Renaissance Seattle
Hotel</a> in beautiful downtown Seattle, <b>from November 1st to 3rd, 2021.</b></p>

    <p ><span style="background-color:yellow;"> Please use this <a 
         href="https://www.marriott.com/event-reservations/reservation-link.mi?id=1630000507226&key=GRP&app=resvlink"
         style="text-decoration:underline; "
        >link</a> to register, the cutoff date is October 15!</span></p>
<p>The conference will have a hybrid format. November 1st to 3rd will
also have simultaneous online participation for those who cannot
join in person, and November 4th will be fully online.</p>

    <p><img src="assets/renaissance.jpg" width="300" alt="Image of the Renaissance Hotel"></p>
    <p>The hotel is located at 515 Madison Street, Seattle, WA, 98104, US, close to many attractions, restaurants, and transportation.
        We have negotiated a rate of $149/night, valid until <b>October 15</b>, which includes complimentary Wifi and 20% parking discount. Staying at the conference hotel, if possible, helps ACM negotiate better rates for future conferences!
        
        
</div>
<!-- end Content -->
          
          
          </div><!-- /.section-content -->
        </section><!-- /.main-content -->
      </div><!-- /.col-md-6 -->

        <!--
      <div class="col-md-3">
        {% include latest-news.html %}
      </div>
        -->
          <!-- /.col-md-3 -->
    
       </div><!-- /.row -->
  </div><!-- /.container -->
</div>
   
  
