<div class="row">
  <div class="col-md-6" style="padding-left:0; padding-right:0;">
     <a href="https://cisco.com/" target="_blank" rel="nofollow">
		<img alt="Cisco" border="0" src="assets/img/logos-Cisco.png" style="border:0px currentColor" width="100" /></a>
  </div><br>
 
  <div class="col-md-6" style="padding-left:0; padding-right:0;">
     <a href="https://www.oracle.com" target="_blank" rel="nofollow">
		<img alt="Oracle" border="0" src="assets/img/logos-Oracle.png" style="border:0px currentColor" width="150" /></a>
  </div>
 
  <div class="col-md-6" style="padding-left:0; padding-right:0;">
     <a href="https://google.com/" target="_blank" rel="nofollow">
		<img alt="Google" border="0" src="assets/img/logos-Google.png" style="border:0px currentColor" width="120" /></a>
  </div>
 
</div>


