<div class="row">
  <div class="col-md-6" style="padding-left:5; padding-right:0;">
     <a href="http://www.vmware.com" target="_blank" rel="nofollow">
        <img alt="VMWare" border="0" src="assets/img/logos-VMware.png" 
			style="border:0px currentColor" width="100" /></a>
  </div>
  <div class="col-md-6" style="padding-left:5; padding-right:0;">
     <a href="http://www.ibm.com" target="_blank" rel="nofollow">
        <img alt="IBM" border="0" src="assets/img/ibm-logo.png" 
			style="border:0px currentColor" width="100" /></a>
  </div>
  <div class="col-md-6" style="padding-left:0; padding-right:0;">
     <a href="https://cloud.google.com/" target="_blank" rel="nofollow">
        <img alt="https://cloud.google.com/" border="0" src="assets/img/cloud_lockup_vert.jpg" 
         style="border:0px currentColor" width="150" /></a>
  </div>
 </div>

