
<div class="row">
  <div class="col-md-6" style="padding-left:0; padding-right:0;">
     <a href="https://aws.amazon.com/" target="_blank" rel="nofollow">
		<img alt="Amazon" border="0" src="assets/img/logos-aws2.png" style="border:0px currentColor" width="80" /></a>
  </div>
 
  <div class="col-md-6" style="padding-left:0; padding-right:0;">
     <a href="http://www.apple.com" target="_blank" rel="nofollow">
       <img alt="Apple" border="0" height="60" src="assets/img/apple-logo-official.png" 
            style="border:0px currentColor" height="60" /></a>
  </div>
</div>

