<div class="row">
 <div class="col-md-6" style="padding-left:0; padding-right:0;">
     <a href="http://www.microsoft.com" target="_blank" rel="nofollow">
       <img alt="www.microsoft.com" border="0" src="assets/img/logos-Microsoft.jpg" style="border:0px currentColor" width="150" /></a>
  </div>
  <div class="col-md-6" style="padding-left:0; padding-right:0;">
    <a href="https://www.alibaba.com">
       <img alt="Alibaba logo" src="assets/img/alibaba-logo.jpg" style="border:1px black" width="200"/></a>
  </div>
</div>
