<div class="row">
 <div class="col-md-6" style="padding-left:0; padding-right:0;">
     <a href="https://exotanium.io/" target="_blank" rel="nofollow">
       <img alt="exotanium" border="0" src="assets/img/logos-Exotanium.png" style="border:0px currentColor" width="170" /></a>
  </div>
 <div class="col-md-6" style="padding-left:0; padding-right:0;">
     <a href="https://amazon.com/" target="_blank" rel="nofollow">
       <img alt="amazon" border="0" src="assets/img/logos-Amazon.png" style="border:0px currentColor" width="130" /></a>
  </div>
 <div class="col-md-6" style="padding-left:0; padding-right:0;">
     <a href="https://www.mongodb.com/" target="_blank" rel="nofollow">
       <img alt="mongodb" border="0" src="assets/img/logos-mongodb.png" style="border:0px currentColor" width="150" /></a>
  </div>
 <div class="col-md-6" style="padding-left:0; padding-right:0;">
     <a href="https://ibm.com/" target="_blank" rel="nofollow">
       <img alt="ibm" border="0" src="assets/img/logos-IBM.png" style="border:0px currentColor" width="90" /></a>
  </div>
 <div class="col-md-6" style="padding-left:0; padding-right:0;">
     <a href="https://tiledb.com/" target="_blank" rel="nofollow">
       <img alt="tiledb" border="0" src="assets/img/logos-tiledb.jpeg" style="border:0px currentColor" width="140" /></a>
  </div>
</div>

